

    
        <div class="row fondo_servicio">
            <div class="col-md-3 base_imagen">
                <h3 class="titulo_servicio">Cambio de aceite</h3>
                <div class="base_imagen_lts"></div>
            </div>
            <div class="col-md-4 padding_tarifas">
                <h2 class="titulo_tarifas">Tarifas</h2>
                <p class="txt_tarifas">Solo Servicio : <span class="precio_servicio">$50.000 COP</span> </p>
                <p class="txt_tarifas">Solo Hora : <span class="precio_servicio">$20.000 COP</span> </p>
                <p class="txt_tarifas">El dia completo :  <span class="precio_servicio">$20.000 COP</span> </p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <form>
                    <label class="txt_label">Seleccione tipo de servicio</label>
                    <select class="form-control input_select">
                        <option>Seleccione horario del servicio</option>
                        <option></option>
                    </select>

                    <button type="button" class="boton_servicio">Agregar Servicio</button>
                </form>
            </div>
        </div>

