

<div class="contenedor_principal_inicio">

    <div class="row">
        <div class="col-md-6 fondo_seccion1">
            <div class="mascara_imagen"></div>
            <div class="contenedor_titulo_boton">
                <h2 class="titulo1">Busco</h2>
                <h3 class="titulo2">servicios</h3>
                <button type="button" class="boton1" routerLink="/servicios">Buscar</button>
                <button type="button" class="boton2">Login</button>
            </div>
        </div>
        <div class="col-md-6 fondo_seccion2">
            <div class="mascara_imagen"></div>
            <div class="contenedor_titulo_boton">
                <h2 class="titulo1">Ofresco</h2>
                <h3 class="titulo2">servicios</h3>
                <button type="button" class="boton1 fondo_azul">Buscar</button>
                <button type="button" class="boton2 border_azul">Login</button>
            </div>
        </div>
    </div>
</div>