
<app-navbar></app-navbar>

<div class="contenedor_perfil_servicios">
    <button class="boton_volver posicion_volver" (click)="volverPantalla()">Volver</button>
    <div class="row">
        <div class="col-md-2">
            <div class="foto_perfil" [ngStyle]="{ 'background-image' : 'url(https://www.eltiempo.com/infografias/2016/imagenes/trabajadores/' + Foto + ')' } "></div>
        </div>
        <div class="col-md-10">
            <h1 class="nombre_persona">{{ nombre }}</h1>
            <p class="categoria_servicio">Catagoria {{ categoria }}</p>
            <p class="categoria_servicio">Ciudad    {{ ciudad }}</p>
            <p class="categoria_servicio">Telefono  {{ telefono }}</p>
        </div>
    </div>

    <hr class="linea_divisora">

    <p class="texto_perfil">Seleccione el servicio y la intensidad del Horaria, que desea para que la persona pueda cumplir con el servicio. una vez tenga uno o varios servicios seleccionados,  la fecha, y hora confirmar el servicio y le sera notificado a la persona.</p>

    <div class="row">
        <h2 class="nombre_persona2">Servicios</h2>

        <app-tarjeta-servicios 
        [serviciosTrabajador]="serviciosDelTrabajador"
        (tipoServicioSolicitado)="recibirTipoServicioSolicitado($event)"
        
        ></app-tarjeta-servicios>


    </div>

    <hr class="linea_divisora">
    <h3 class="nombre_persona_ltsx">Agendar servicios seleccionados</h3>

    <div class="base_seleccionados">
        <div class="row">
            <div class="col-md-4">
                <h3 class="titulo_tabla">Tipo de servicio</h3>
            </div>
            <div class="col-md-4">
                <h3 class="titulo_tabla">Fracción</h3>
            </div>
            <div class="col-md-4">
                <h3 class="titulo_tabla">precio COP</h3>
            </div>
        </div>



        <div class="row" *ngFor="let servicio of serviciosSeleccionados">
            <div class="col-md-4 nombre_servicio">
                <p class="nombre_servicio">{{ servicio.nombreServicio }}</p>
            </div>
             <div class="col-md-4 intensidadServicio">
                <p class="nombre_servicio">{{ servicio.texto }}</p>
               
             </div>
             <div class="col-md-4 precioServicio">
                <p class="nombre_servicio">$ {{ servicio.value }}</p>
            </div>
        </div>
        <div class="row">
             <p class="nombre_servicio txt_bold total_servicio" *ngIf="mostrarTotal">Total: $ {{ total }} COP</p>
        </div>

        <hr class="linea_divisora2">
        
        <form [formGroup]="formularioAgendamiento">
            <div class="row caja_agendamiento">
            <p class="txt_programe_servicios">Programe su servicio</p>

                <div class="col-md-4 bottom_select">
                    <label class="txt_input">Seleccione departamento del servicio</label>
                    <select class="form-control" #val (change)="cargarCiudades( val.value )" formControlName="departamento">
                        <option [value]="i" *ngFor="let departamento of guardarTodasLosDepartamentos; let i = index">{{ departamento.departamento }}</option>
                    </select>

                    <small class="text-danger" *ngIf="ValidarDepartamento">Seleccione departamento</small>
                </div>

                <div class="col-md-4 bottom_select">
                    <label class="txt_input">Seleccione ciudad del servicio</label>
                    <select class="form-control" formControlName="ciudad">
                        <option [value]="ciudades"  *ngFor="let ciudades of guardarTodasLasCiudades; let i = index">{{ ciudades }}</option>
                    </select>

                    <small class="text-danger" *ngIf="ValidarCiudad">Seleccione ciudad</small>

                </div>

                <div class="col-md-4 bottom_select">
                    <label class="txt_input">Escriba el barrio</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="escriba el barrio" formControlName="barrio">

                    <small class="text-danger" *ngIf="ValidarBarrio">Seleccione barrio</small>

                    </div>
                </div>

                 <div class="col-md-4 bottom_select">
                    <label class="txt_input">Escriba dirección</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="escriba la direccion del servicio" formControlName="direccion">
                        <small class="text-danger" *ngIf="ValidarDireccion">Seleccione dirección</small>

                    </div>
                </div>

                <div class="col-md-4 bottom_select">
                    <label class="txt_input">Seleccionar dia</label>
                    <div class="form-group">
                        <input type="date" class="form-control" formControlName="dia">
                        <small class="text-danger" *ngIf="ValidarDia">Seleccione dia</small>

                    </div>
                </div>

                <div class="col-md-4 bottom_select">
                    <label class="txt_input">Seleccionar Hora</label>
                    <div class="form-group">
                        <input type="time" class="form-control" formControlName="hora">
                        <small class="text-danger" *ngIf="ValidarHora">Seleccione hora</small>

                    </div>
                </div>
                
               
                <div class="col-md-4">
                    <button type="button" class="boton_agendar" (click)="AgendarServicio()">Agendar Servicio</button>
                </div>
            </div>
        </form>
    </div>
</div>
