
.contenedor_formulario{

    width: 100%;
    max-width: 400px;
    display: table;
    margin: auto;
    position: relative;
    z-index: 1;

}



.ubicacion_boton{

  margin-top: 30px;
}



.titulo_login{
    font-family: 'OpenSans-Regular';
    color: #1fc6d7;
    margin-bottom: 0px;
    margin-top: 28px;
    font-size: 32px;
}



.txt_impac {
    font-family: 'impact';
    color: #fff;
    font-size: 41px;
}

.mover_boton{

    top: 95px;
    position: relative;
    z-index: 2;
    left: 84px;

}