
.contenedor_registros{

    width: 100%;
    margin: 0px auto 0px auto;
    display: table;
    position: relative;
    z-index: 1;
    height: 100vh;
    background-size: cover;
}

.formulario_registro{

    position: relative;
    width: 100%;
    max-width: 1000px;
    z-index: 2;
    margin: 100px auto 0px auto;
}

.padding_columna{
    padding: 9px 40px;
}

.titulo_login{
    color: #1fc6d7;
    width: 966px;
    margin: auto;
    font-family: 'OpenSans-Regular';
    font-size: 40px;
    text-align: center;
    margin-bottom: 29px;
    margin-top: 23px;
}

.txt_impac {
        /* font-family: 'OpenSans-Regular'; */
 color: #1fc6d7;
    font-family: 'impact';
    font-size: 37px;
}

.txt_cliente {
    color: #0099a8;
}

.registro {

background-color: #01E1F6;
    border: none;
    color: #fff;
    padding: 4px 14px 5px 14px;
    font-family: 'OpenSans-Regular';
    font-size: clamp(15px, 5vw, 15px);
    border-radius: 4px;
    position: relative;
    top: 23px;
    margin: 0px 9px;
    float: right;
}