@font-face {
  font-family: 'impact';
  src: url(./assets/fonts/impact.eot);
  src: url(./assets/fonts/impact.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/impact.otf) format('otf'),
       url(./assets/fonts/impact.svg#impact) format('svg'),
       url(./assets/fonts/impact.woff2) format('woff2'),
       url(./assets/fonts/impact.woff) format('woff'),
       url(./assets/fonts/impact.ttf) format('truetype');
}


@font-face {
  font-family: 'OpenSans-MediumItalic';
  src: url(./assets/fonts/OpenSans-MediumItalic.eot);
  src: url(./assets/fonts/OpenSans-MediumItalic.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/OpenSans-MediumItalic.otf) format('otf'),
       url(./assets/fonts/OpenSans-MediumItalic.svg#OpenSans-MediumItalic) format('svg'),
       url(./assets/fonts/OpenSans-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(./assets/fonts/OpenSans-Regular.eot);
  src: url(./assets/fonts/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/OpenSans-Regular.otf) format('otf'),
       url(./assets/fonts/OpenSans-Regular.svg#OpenSans-Regular) format('svg'),
       url(./assets/fonts/OpenSans-Regular.woff2) format('woff2'),
       url(./assets/fonts/OpenSans-Regular.woff) format('woff'),
       url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(./assets/fonts/OpenSans-SemiBold.eot);
  src: url(./assets/fonts/OpenSans-SemiBold.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/OpenSans-SemiBold.otf) format('otf'),
       url(./assets/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold) format('svg'),
       url(./assets/fonts/OpenSans-SemiBold.ttf) format('truetype'),
       url(./assets/fonts/OpenSans-SemiBold.woff) format('woff'),
       url(./assets/fonts/OpenSans-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(./assets/fonts/OpenSans-Bold.eot);
  src: url(./assets/fonts/OpenSans-Bold.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/OpenSans-Bold.otf) format('otf'),
       url(./assets/fonts/OpenSans-Bold.svg#OpenSans-Bold) format('svg'),
       url(./assets/fonts/OpenSans-Bold.woff2) format('woff2'),
       url(./assets/fonts/OpenSans-Bold.woff) format('woff'),
       url(./assets/fonts/OpenSans-Bold.ttf) format('truetype');
}


/*bootstrasp*/

.selector-for-some-widget {
  box-sizing: content-box;
}

.boton_volver{
    font-family: 'OpenSans-SemiBold';
    padding: 5px 9px 6px 11px;
    font-size: 14px;
    border: none;
    background-color: #1fc6d7;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;  
}


/*logins*/

.contenedor_login{

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;

}



.borde_formulario{

    border: 1px solid #8bbabf;
    font-size: 14px;
    width: 100%;
    font-family: 'OpenSans-Regular';

}


.estilo_botones {
    background-color: inherit;
    border: 1px solid #01E1F6;
    color: #fff;
    padding: 1px 11px 3px 11px;
    font-family: 'OpenSans-Regular';
    font-size: clamp(15px, 5vw, 15px);
    border-radius: 4px;
    position: relative;
    top: 0px;
}